In [20]:


import numpy as np
import pandas as pd

#modules for statistics
import math
import statistics


belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
# belize_df.head()
belize_df.tail()

# Create a new dataframe that takes the 
# original dataset and groups the data by neighborhood 
# and finds the average price, total number of reviews, and max availability_365.


grouped_belize_df = belize_df.groupby("neighbourhood")











# Aggregation Function

#grouped_belize_df[['price']].mean()

#grouped_belize_df[['availability_365']].max()

#grouped_belize_df[['number_of_reviews']].count()

grouped_belize_df[['price','availability_365','number_of_reviews']].agg({'price':'mean','availability_365':'max','number_of_reviews':'count'})


#belize_df.describe()

                            price  availability_365  number_of_reviews
neighbourhood
Belize Islands         399.442824               365               1303
Belize Mainland        288.273063               365                271
Cayo                   205.847525               365                505
Corozal                156.553846               365                 65
Orange Walk            122.035714               365                 28
Stann Creek Islands   1136.166667               365                 12
Stann Creek Mainland   456.994690               365                565
Toledo Mainland        222.978723               365                 47

In [4]:
belize_df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.796000e+03,2.796000e+03,2796.000000,2796.000000,2796.000000,2796.000000,2796.000000,1810.000000,2796.000000,2796.000000
mean,2.792490e+07,1.240278e+08,17.448295,-88.292035,357.102289,2.263948,14.453505,0.538088,22.848355,280.315451
std,1.288964e+07,1.018001e+08,0.537440,0.383876,563.124825,5.669843,30.327768,0.662154,51.711183,120.617632
min,3.666600e+04,1.507890e+05,16.079260,-89.150680,20.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.870854e+07,4.389292e+07,17.129573,-88.371015,135.000000,1.000000,0.000000,0.110000,2.000000,221.000000
50%,2.891586e+07,9.171577e+07,17.735145,-88.205560,220.000000,2.000000,2.000000,0.275000,6.000000,349.000000
75%,3.977962e+07,1.875677e+08,17.913837,-87.973793,394.250000,3.000000,13.000000,0.700000,14.000000,364.000000
max,4.833222e+07,3.890334e+08,18.468140,-87.593140,11788.000000,180.000000,316.000000,5.920000,204.000000,365.000000